* {
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed
}

